body {
background-color: rgb(110, 231, 140);
    font-size: 1.5em;
}

#form {

    background-color: rgba(255, 255, 255,0.75 );
    border-radius: 10px;
text-align: center;
    padding: 1em;
    margin: 0 15em;

}

#title
{
    text-align: center;
}
#survey-form{
    display: flex;
    flex-direction: column;
}
.question{
    display: flex;
    flex-direction: column;
    align-content: center;
}



.answers{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    margin: auto;
}